body {
	font: 300 18px/2.3em "Open Sans", sans-serif;
	padding: 10px;
	max-width: 980px;
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.2em; margin: 15px 0; color: #2C3E50; }
header h1 { font-size: 42px; }
h1, h2, h3 { margin: 25px 0; }
h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; text-transform: uppercase; font-weight: bold; }
h6 { font-size: 14px; font-weight: bold; }

code, pre {
	font: 14px/1.5 "PT Mono", monospace;
}

pre {
	padding: 10px 15px;
	background: #333;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

a:link, a:visited {
	color: #2980B9;
	text-decoration: none;
	border-bottom: 1px dotted #2980B9;
}

a:hover, a:active {
	color: #E74C3C;
	border-bottom: 0;
}

h1 a:link, h1 a:visited {
	border-bottom: 0;
}

blockquote {
	font-size: 30px;
	font-style: italic;
	line-height: 1.6em;
	padding: 20px 40px; 
	margin: 30px 0;
	border-top: 1px solid #95A5A6;
	border-bottom: 1px solid #95A5A6;
	color: #2C3E50;
}

blockquote a:link, blockquote a:visited {
	color: #2C3E50;
	border-color: #2C3E50;
}

blockquote a:hover, blockquote a:active {
	color: #E74C3C;
	border-color: #E74C3C;
}

article, section {
	overflow: hidden;
}

a.lightboxLink {
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	display: block;
	float: left;
	margin-right: 10px;
	border-bottom: 0;
}

a.lightboxLink img {
	max-width: 180px;
}

::-moz-selection {
    background: #C0392B;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #C0392B;
    text-shadow: none;
    color: #fff;
}

.indent {
	padding-left: 30px;
}

#siteHeader {
	position: relative;
	margin-bottom: 30px;
}

#siteName {
	text-transform: uppercase;
	font-size: 30px;
}

#siteName a:link, #siteName a:visited {
	color: #2C3E50;
}

#siteName + .tagName {
	color: #BDC3C7;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: -25px;
}

#siteNav {
	position: absolute;
	top: 0;
	right: 0;
}

#siteNav a:link, #siteNav a:visited {
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 10px;
	color: #7F8C8D;
	border-bottom: 0;
}

#siteNav a:hover, #siteNav a:active, #siteNav a.active {
	color: #E74C3C;
}

#siteContent > blockquote {
	margin-top: 0;
}

article {
	position: relative;
}

article header .category {
	font-size: 14px;

}

article .articlePostedOn {
	position: absolute;
	top: 22px;
	right: 0;
	font-size: 12px;
	text-transform: uppercase;
	color: #BDC3C7;
}

#blogPostsList {
	list-style: none;
	padding: 0;
	margin: 0;	
}

#blogPostsList a:link, #blogPostsList a:visited {
	border-bottom: 0;
	padding: 0 5px;
	line-height: 2.4em;
	font-weight: bold;
	display: block;
	position: relative;
	overflow: hidden;
}

#blogPostsList date {
	font-size: 14px;
	text-transform: uppercase;
	color: #BDC3C7;
	margin-right: 15px;
	float: left;
}

#blogPostsList .title {
	float: left;
	margin-right: 15px;
}

#blogPostsList .category, #blogPostsList .tag {
	font-size: 10px;
	line-height: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	float: left;
	padding: 0 6px;
	position: relative;
	top: 12px;
	background: #3498DB;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right: 5px;
}

#blogPostsList .category-portfolio .category {
	background: #E74C3C;
}

#blogPostsList .category-portfolio .categories {
	color: #E74C3C;
}

#pagination {
	overflow: hidden;
	margin: 20px 0;
}

.paginator-prev:link, .paginator-prev:visited, 
.paginator-next:link, .paginator-next:visited {
	font-size: 14px; 
	text-transform: uppercase;
	border: 0;
}

.paginator-prev {
	float: left;
}

.paginator-next {
	float: right;
}

.resumeItem {
	overflow: hidden;
	margin-bottom: 30px;
}

.resumeItem header {
	width: 25%;
	margin-right: 2%;
	float: left;
}

.resumeItemContent {
	width: 73%;
	float: left;
}

.resumeMeta {
	font-size: 14px;
	margin: 0;
	color: #7F8C8D;
}

.resumeItem h5, .resumeItem header p {
	margin: 5px 0;
}

.resumeItem header p {
	font-size: 14px;
	color: #7F8C8D;
}

.gallery {
	overflow: hidden;
	padding: 5px 0;
	margin: 20px 0;
}

.backToIndex:link, .backToIndex:visited {
	clear: both;
	display: block;
	border-top: 1px solid #7F8C8D;
	border-bottom: 1px solid #7F8C8D;
	color: #2C3E50;
	font-size: 18px;
	padding: 0 20px;
	line-height: 3em;
	margin: 50px 0 20px;
}

.backToIndex:hover, .backToIndex:active {
	color: #fff;
	background: #E74C3C;
	border-top: 1px solid #E74C3C;
	border-bottom: 1px solid #E74C3C;
}
