---
layout: default
title: Jiew Meng's Blog &amp; Portfolio
---

<blockquote>Hi there, I like to <strong>design</strong> and <strong>develop usable</strong> and <strong>beautiful applications</strong> that help streamline and simplify our work. Check out my <strong><a href="/portfolio.html" title="My portfolio">past works</a></strong>. Be sure to <strong><a href="/contact.html" title="Contact/social media information">keep in touch</a></strong></blockquote> 

<ul id="blogPostsList">
	{% for post in paginator.posts %}
	<li>
		<a href="{{ post.url }}" 
			class="category-{{ post.categories | join: '-' }}">
			<date>{{ post.date | date_to_string }}</date>
			<span class="title">{{ post.title }}</span> 
			<!--<span class="category">{{ post.categories | array_to_sentence_string }}</span>-->
		</a>
	</li>
	{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<nav id="pagination">
	{% if paginator.previous_page %}
		<a class="paginator-prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	{% endif %}

	{% if paginator.next_page %}
		<a class="paginator-next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% endif %}
</nav>
{% endif %}


